body {
  margin: 0;
  font-family: sans-serif;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  grid-column: 1 / -1; /* Span all 3 columns */
}

/* Color Scheme */
div#app {
  background: #9DA3A4;
}
h1, h2, li, p {
  color: #C5C6BF;

  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header {
  background: #182025;
}
.hero {
  background: #29353C;
}
.skills {
  background: #182025;
}
.skill-column {
  color: #C5C6BF;
}
.skill-item {
  background-color: #29353C;
}
.projects {
  background: #29353C;
}
.experiences {
  background: #182025;
}
.education {
  background: #29353C;
}
footer {
  background: #182025;
}



/* Rounded Corner */
.skill-column.top-left {
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
}
.skill-column.top-right {
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
}
.skill-column.bottom-left {
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
}
.skill-column.bottom-right {
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
}
.project-card {
  border-radius: 20px;
}
.card-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.experiences-image img {
  border-radius: 20px;
}
.experiences-accordion {
  border-radius: 20px;
}
